################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MySqlTool/obj/x86/Debug
/MySqlTool/bin/Debug
/MySqlBll/obj/Debug
/MySqlBll/bin/Debug
/MySqlBackUp/obj/Debug
/MySqlBackUp/bin/Debug
/.vs/MySqlTool/v15/Server/sqlite3
/.vs/MySqlTool/v15/.suo
/.vs/MySqlTool/v16
/MySqlTool/bin
